.user-list {
  > li {
    padding: 15px 0;
    border-bottom: 1px solid #7d60f5;
  }
}

.header-table {
  margin-bottom: 10px;
  > ul {
    display: flex;
    justify-content: space-between;
    > li {
      width: calc(100% / 4);
      text-align: start;
      padding: 0 10px;
      font-weight: 600;
    }
  }
}
